
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 1rem;
    margin-left: 12rem;
    margin-right: 12rem;

    

}


.container>button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    border: none;
    background: none;
    font-size: 30px;
    color: rgb(6, 128, 6);
}

.container>button:hover{
    background:rgb(6, 128, 6);
    color: white;
    font-size: 40x;
}

.form-popup{
    position: absolute;
    border: 2px solid rgb(6, 128, 6);
    display: none;   
    z-index: 1;
    background-color: white;
    width: 16rem;    
    height: 25rem;
    border-radius: 12px;
    top: 40%;
    left: 50%;
  transform: translate(-50%, -50%);
}

 input, button{

margin: 0.5rem;
padding: 0.2rem;
color:white;
background: rgb(6, 128, 6);
border: none;

}

label{
    color:rgb(6, 128, 6) ;
}


#overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

.books-container{
    display: flex;
    width: auto;
    justify-content: space-around;
    margin-top: 10rem;
    border-bottom: 2px solid rgb(6, 128, 6);
    
    
}

.book-display{
   
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    width: auto;
}


span{
    cursor: pointer;
}