.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    gap: 1rem;
    width: 1000px;
}


.container>button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    border: none;
    background: none;
    font-size: 30px;
    color: rgb(6, 128, 6);
}

.container>button:hover{
    background:rgb(6, 128, 6);
    color: white;
    font-size: 40x;
}

.form-popup{
    position: absolute;
    border: 2px solid rgb(6, 128, 6);
    display: none;   
    z-index: 1;
    background-color: white;
    width: 16rem;    
    height: 25rem;
    border-radius: 12px;
    top: 40%;
    left: 50%;
  transform: translate(-50%, -50%);
}

.label-title{
    margin-top: 15px;
    margin-bottom: 2px;
}

.label{
    margin-top:10px;
    margin-bottom: 2px;
}

 input, button{
color:white;
background: rgb(6, 128, 6);
border: none;
border-radius: 12px;
padding: 6px;
opacity: 0.8;
margin:5px;

}

button{
    width: 75px;
    height: 35px;
    margin-top: 5px;
}

button:hover{
    opacity: 1;
}

label{
    color:rgb(6, 128, 6) ;
}

::placeholder{
    color: white;
    opacity: 0.7;
}

#overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

.books-container{
    display: flex;
    width: 100%;
    margin-top: 10rem;
    border-bottom: 2px solid rgb(6, 128, 6); 
}

.title, .author, .pages{
    margin-right: 18%;
    width: 70px;

}

.subTitle, .subAuthor, .subPages{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 18%;
    width: 70px;
}

.subRead{
    margin-left:85px;
}

.status{
    margin-left: 130px
}
.book-display{
    display: flex;
    border-bottom: 1px solid grey;
}

span{
    cursor: pointer;
    color: rgb(6, 128, 6);
    position: absolute;
    right: 5%;
    top:1%;
}

input[type="checkbox"] {
    accent-color: rgb(6, 128, 6);
    }